<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto"><br><br><br><br><br>
        <i class="fas fa-shipping-fast" style='font-size:180px' ></i>
            <h1 class="mb-1">MOGEL FLUIDOS S.A. DE C.V.</h1>
            <h3 class="mb-5">
                
            </h3>
            <a class="btn btn-primary btn-lg" href="/signin">
                INICIO DE SESIÓN
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>