<div class="container p-5">
    <div class="row">
      <div class="col-md-4 mx-auto">
      <div class="card text-center">
        <div class="card-header">
          <h3>Tipo de Licencia</h3>
        </div>

            <div class="card">
                <div class="card-body">
                    <form action="/licencia/add" method="POST">
                        <div class="form-group">
                            <input type="text" name="tipo" class="form-control" placeholder="tipo" autofocus>
                        </div>
                        <div class="form-group">
                            <textarea name="descripcion" rows="10" cols="40" class="form-control" placeholder="descripción" autofocus></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block"><i class="fas fas fa-save"></i>
                                Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
                         <div class="card">
                <div class="card-body">    
                        <div class="form-group">
                            <a href="/licencia" class="btn btn-light btn-block"><i class="fas fa-undo-alt"></i>
                                close
                            </a>
                        </div>                          
                </div>
            </div>
        </div>

    </div>
</div>